/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: clip;
  background-color: #12171f;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Styles */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/oasis.jpg') no-repeat center center;
}

/* form styles */
.form-container {
  position: absolute;
  background: rgba(18, 23, 31, 0.8);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 25px 25px 25px;
}

#login-form legend {
  padding: 1rem;
  margin-left: 10px;
}

#login-form label {
  font-size: 1.5rem;
  padding: 1rem;
}

#login-form input[name="playername"] {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 2rem;
  padding: 0.5rem;
  width: 16rem;
  color: #fff;
}

#login-form #login-btn {
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
}

/* Player Creator Styles */
.new-player {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "tabs tabs tabs"
    "left canvas right"
    "bottom bottom bottom";
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.tab-container {
  grid-area: tabs;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: none;
}

.character-btn {
  background: transparent;
  color: #fff; /* White text */
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
  margin: 5px;
}

.character-btn:hover {
  background: rgba(255, 255, 255, 0.2); /* Light overlay on hover */
  border-radius: 2rem;
}

.character-btn:active {
  background: rgba(255, 255, 255, 0.4); /* Darker overlay when clicked */
}

.left {
  grid-area: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 10px;
}

.canvas-container {
  background: transparent;
  grid-area: canvas;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.right {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 10px;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  border: none;
  color: #eee;
  margin: 5px;
}

/* Active Left Arrow */
.left-arrow-active {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
}

/* Inactive Left Arrow */
.left-arrow-inactive {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  pointer-events: none;
}

/* Active Right Arrow */
.right-arrow-active {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
}

/* Inactive Right Arrow */
.right-arrow-inactive {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  pointer-events: none;
}

/* Game Container Styles */
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(60, 25%, 30%) hsl(60, 25%, 20%) hsl(60, 25%, 20%) hsl(60, 25%, 30%);
}

/* Player Stats */
.player-details-container {
  display: flex;
  flex-direction: column;
  height: 704px;
  width: 200px;   
  background: #2e2e2e;
  color: #ccc;
  line-height: 2;
  font-size: 1.2rem;
  padding: 0.6rem;
}

/* Utility Classes */
.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.hidden {
  display: none;
}